<app-navbar></app-navbar>
<div class="max-w-7xl mx-auto px-6 pt-28 pb-12 +3 text-center">
    <section class="px-6 py-12">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-semibold leading-tight">
            Construa times de Marketing <br />
            sob demanda
        </h1>
        <p class="pt-6 mx-4 sm:mx-12 md:mx-32 text-base sm:text-lg md:text-xl text-gray-400">Concentre-se na sua
            estratégia e colabore com profissionais testados
            e
            selecionados com as habilidades específicas que seu negócio precisa</p>
    </section>
    <section class="px-6 py-12">
        <div class="flex flex-col sm:flex-row items-center justify-center gap-4 pb-6">
            <p></p>
            <button class="bg-green-500 hover:bg-green-600 text-white text-sm font-medium px-12 py-3 transition">
                Comece agora
            </button>
            <a class="text-sm text-black">Agende um mapeamento</a>
            <p></p>
        </div>
        <div class="w-full py-6 flex items-center justify-center">
            <img class="w-full object-cover shadow" src="imagem1.png" alt="Pessoa reaizando video chamada">
        </div>
    </section>
    <section class="px-4 sm:px-6 py-12 grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 items-center">
        <div>
            <img src="imagem2.png" alt="Pessoas conversando" class="shadow-lg w-full h-auto object-cover">
        </div>
        <div class="text-start">
            <h4 class="text-green-600 text-sm font-semibold uppercase mb-2">Porquê nos escolher</h4>
            <h2 class="text-xl md:text-xl mb-4">
                Nossa missão é desenvolver o comunicador<br />
                em cada empreendedor.
            </h2>
            <p class="text-gray-500 mb-8 text-justify">
                A Colisio é uma startup que se encontra entre a colisão e a colaboração.
                Utilizamos metodologias próprias, ferramentas e práticas inovadoras para mostrar
                o caminho para quem não sabe onde ir.
            </p>
            <div class="space-y-4">
                <div class="flex items-center space-x-4 bg-gray-50 p-4 rounded-md">
                    <div class="text-gray-700">
                        <span class="material-symbols-outlined">
                            settings
                        </span>
                    </div>
                    <div>
                        <h3 class="font-medium">Administração facilitada</h3>
                        <p class="text-gray-500 text-sm text-justify">
                            Sem perder mais tempo em listas enormes de freelancers, nós te entregamos quem e o que você
                            precisa.
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4 bg-gray-50 p-4 rounded-md">
                    <div class="text-gray-700">
                        <span class="material-symbols-outlined">
                            lightbulb
                        </span>
                    </div>
                    <div>
                        <h3 class="font-medium">Menos burocracias, mais ideias</h3>
                        <p class="text-gray-500 text-sm text-justify">
                            Direcione seu tempo para o que realmente importa: estratégia.
                        </p>
                    </div>
                </div>
                <div class="flex items-center space-x-4 bg-gray-50 p-4 rounded-md">
                    <div class="text-gray-700">
                        <span class="material-symbols-outlined">
                            docs
                        </span>
                    </div>
                    <div>
                        <h3 class="font-medium">Liberte-se de contratos anuais</h3>
                        <p class="text-gray-500 text-sm text-justify">
                            Eliminamos a necessidade de contratos longos ou altos custos associados às agências.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="px-6 py-12 text-center">
        <h2 class="text-2xl md:text-3xl font-semibold text-gray-900 mb-16">
            Marketing Colaborativo
        </h2>
        <div class="flex flex-col md:flex-row flex-wrap justify-center items-center gap-10">
            <div class="w-full sm:w-80 flex flex-col items-center text-center">
                <div class="relative">
                    <img src="imagem3.png" alt="Analista" class="w-60 h-60 object-cover" />
                </div>
                <h3 class="mt-6 text-lg font-semibold text-gray-900">
                    Fale com um de nossos analistas
                </h3>
                <p class="mt-2 text-gray-600 text-sm max-w-xs">
                    Você terá acesso a um analista dedicado a compreender seus objetivos, necessidades técnicas e
                    dinâmicas de equipe.
                </p>
            </div>
            <div class="w-full sm:w-80 flex flex-col items-center text-center">
                <div class="relative">
                    <img src="imagem4.png" alt="Aperto de mãos" class="w-60 h-60 object-cover" />
                </div>
                <h3 class="mt-6 text-lg font-semibold text-gray-900">
                    Colabore com profissionais<br />selecionados a dedo
                </h3>
                <p class="mt-2 text-gray-600 text-sm max-w-xs">
                    Em menos de cinco dias, apresentaremos o profissional com match perfeito para sua demanda de
                    marketing.
                </p>
            </div>
            <div class="w-full sm:w-80 flex flex-col items-center text-center">
                <div class="relative">
                    <img src="imagem5.png" alt="Qualidade" class="w-60 h-60 object-cover" />
                </div>
                <h3 class="mt-6 text-lg font-semibold text-gray-900">
                    Garantida de qualidade na ponta da entrega
                </h3>
                <p class="mt-2 text-gray-600 text-sm max-w-xs">
                    Todos os resultados são supervisionados pelo analista, e o pagamento só é liberado após alcançar o
                    padrão de entrega.
                </p>
            </div>
        </div>
    </section>
</div>
<section class="bg-gray-100 py-24 px-4 text-center relative">
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <span
            class="material-symbols-outlined w-15 h-15 text-4xl bg-white font-bold rounded-full shadow px-3.5 py-3 border">
            search
        </span>
    </div>
    <div class="max-w-2xl mx-auto px-4">
        <h4 class="text-green-600 font-semibold text-sm mb-2">Descentralização e Colaboração!</h4>
        <h2 class="text-2xl md:text-3xl font-semibold text-gray-900 mb-6 leading-tight">
            Veja como a Colisio pode<br />
            transformar o seu jeito de fazer marketing
        </h2>
        <button class="inline-block bg-green-500 hover:bg-green-600 text-white text-sm font-semibold px-8 py-3">
            Fale com um analista
        </button>
    </div>
</section>
<app-footer></app-footer>